<div class="container">
    <p style="text-align: center;">CRUD Filmes GPES Trainning</p>
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Descrição</th>
                <th scope="col">Duração</th>
                <th scope="col">Diretor</th>
                <th scope="col">Gênero</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>[via back-end]</td>
                <td>[via back-end]</td>
                <td>[via back-end]</td>
                <td>[via back-end]</td>
                <td>[via back-end]</td>
            </tr>
        </tbody>
    </table>
</div>